/* ---------------------------------------------------------------
My Base Styles
--------------------------------------------------------------- */

body {
  font-size: calc(16px + 1vw);
  line-height: 1.5;
  margin: 0 auto;
  font-family: "Space Mono", monospace;
  background-color: mistyrose;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
}

label,
input {
  display: block;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: #3498db;
  &:hover {
    color: darken($color: #3498db, $amount: 25);
  }
}

p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 700;
}

small {
  font-size: 0.8rem;
}

footer {
  text-align: center;
}
